In [ ]:
In [1]: import requests

In [2]: url = 'https://assets.publishing.service.gov.uk/government/uploads/syste
   ...: m/uploads/attachment_data/file/959864/COVID-19-transport-use-statistics.
   ...: ods'

In [3]: with open('COVID-19-transport-use-statistics.ods', 'wb') as out_file:
   ...:     content = requests.get(url, stream=True).content
   ...:     out_file.write(content)


pip install pandas-ods-reader


In [4]: from pandas_ods_reader import read_ods

In [5]: df = read_ods('COVID-19-transport-use-statistics.ods', 1)

In [6]: df
Out[6]: 
                   Department for Transport statistics  ...   unnamed.9
0    https://www.gov.uk/government/statistics/trans...  ...        None
1                                                 None  ...        None
2    Use of transport modes: Great Britain, since 1...  ...        None
3    Figures are percentages of an equivalent day o...  ...        None
4                                                 None  ...  Percentage
..                                                 ...  ...         ...
390                  Transport for London Tube and Bus  ...        None
391                               Buses (excl. London)  ...        None
392                                           Cycling   ...        None
393                                  Any other queries  ...        None
394                                    Media enquiries  ...        None

In [7]:
import requests
import pandas as pd

In [3]:
url = 'https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/HG7NV7'

In [5]:
with open('output.csv', 'wb') as output_file:
    content = requests.get(url, stream=True).content
    output_file.write(content)

In [12]:
'output.csv'

'output.csv'

In [9]:
df = pd.read_csv('output.csv', on_bad_lines='skip')
df

                <?xml version='1.0' encoding='UTF-8' ?>
0                                       <!DOCTYPE html>
1     <html xmlns="http://www.w3.org/1999/xhtml" lan...
2     <script async="async" src="https://www.googlet...
3                                              <script>
4                                           //<![CDATA[
...                                                 ...
1335                  $("[id$='headerSupportLink']")...
1336                                                  }
1337                                              //]]>
1338          </script><script type="text/javascript...
1339                                            </html>

[1340 rows x 1 columns]